.noresults-container {
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: gray;
}
.noresults-container i {
  font-size: 70px;
}

.noresults-container p {
  margin-top: 20px;
  font-size: 20px;
}
