.model-image-card {
  flex: 0 0 300px;
  width: 300px;
  height: 400px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none;
  color: black;
}

.model-image-card:hover {
  transform: translateY(-4px);
  animation: ease;
}

.model-image-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px 20px 10px 10px;
}

.park-card {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  text-decoration: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.2s ease;
}

.park-card:hover {
  transform: translateY(-4px);
}

.park-card .image-container {
  position: relative;
}

.park-card .image-container p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: white;
  margin: 10px;
}

.park-card .image-container p i {
  color: rgb(86, 230, 255);
}

.park-card img {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.park-card .content {
  padding: 15px;
  color: black;
}

.park-card .content p {
  margin: 0;
}

.park-card .content h1 {
  font-size: 18px;
  color: black;
  margin: 0;
}

.park-card .content .weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 10px;
  gap: 5px;
}

.weekday-circle {
  width: 25px;
  height: 25px;
  background-color: #5ac994;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
}

.weekday-circle.closed {
  background-color: #929392;
}
.weekday-circle p {
  color: white;
}

.activity {
  /* display */
  border: 1px solid #a2c8f5;
  color: #a2c8f5;
}

.topic {
  border: 1px solid #80cc91;
  color: #80cc91;
}

.tag-item {
  max-height: 50px;
  border-radius: 15px;
}

.tag-item p {
  font-size: 10px;
  margin: 0;
  padding: 2px 5px;
  max-height: 50px;
  overflow: hidden;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px 0;
}
