.pagination-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.pagination-arrow {
  background-color: rgb(89, 240, 215);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.pagination-arrow.disabled {
  background-color: rgb(214, 246, 241);

  cursor: default;
}

.pagination-bar p {
  margin: 0 30px;
  text-align: center;
}
