table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

th,
td {
  padding: 12px 15px;
}

tbody tr:hover {
  background-color: #d4e6e3;
}
