.nav-link {
  color: #4e4c4c;
}

.navbar-brand {
  color: #0b3726;
  font-weight: 00;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.navbar-brand p {
  margin: 0;
}

.navbar-nav .nav-item .active a {
  color: blue;
}

.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75px;
  z-index: -1;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
}

.navbar-hidden {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition-timing-function: ease-in-out;
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: rgb(53, 218, 116);
  --bs-nav-link-disabled-color: black;
}
