.header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.header i {
  margin-right: 10px;
}

.nearestmodel-container {
  /* width: 400px; */
}

.nearestmodel-container .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nearestmodel-container .item {
  display: flex;
  width: 300px;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.nearestmodel-container .item:hover {
  opacity: 0.7;
}
