.banner-image {
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.splash-title {
  width: 50%;
  text-align: center;
  color: black;
}

.home-models-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.models-section {
  padding: 60px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.models-header h1 {
  color: #5a6362;
}

.model-card {
  flex: 0 0 300px;
  width: 300px;
  height: 400px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.model-card:hover {
  transform: translateY(-4px);
  animation: ease;
}

.model-card h1 {
  position: absolute;
  margin: 0;
  bottom: 0;
  padding: 5px;
  font-size: 20px;
  background-color: rgba(15, 15, 15, 0.4);
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.model-splash-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px 20px 10px 10px;
}
