.airport-attribute {
  display: flex;
  flex-direction: row;
}

.airport-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}
.airport-attribute h3 {
  font-size: 20px;
}

.icao {
  background-color: rgb(181, 252, 181);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}
.icao h3 {
  margin: 0;
}
