body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  /* position: relative; */
  /* min-height: 100vh; */
  /* display: flex; */
  justify-content: center;
}

.section-container {
  margin: 0px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.models-title {
  display: flex;
  justify-content: center;
}

.models-title p {
  font-size: 20px;
  text-align: center;
  color: gray;
}

.App {
  position: relative;
  padding-bottom: 100px;
}

.searchbar {
  border: 1px solid rgb(216, 216, 216);
  width: 100%;
  padding: 0px 10px;
}

.models-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar-container {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.search-button {
  width: 200px;
  border: none;
}

.total-items p {
  margin: 0;
}
.total-items {
  display: flex;
  justify-content: left;
  width: 90%;
}
.models-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
}
.filter-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 900px;
  justify-content: center;
}

.filters-container button {
  background-color: #72feaf;
  padding: 7px 20px;
  height: 100%;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.02;
  }
}
