.images-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.images-gallery .image {
  flex: 0 0 180px;
  width: 180px;
  height: 150px;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none;
  color: black;
}

.images-gallery .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
}

.instance-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.tags-and-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0 0;
  gap: 50px;
}

.instance-tags {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  width: 800px;
  gap: 50px;
  margin: 0;
}

.hours {
  width: 250px;
}

.hour-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hour-row.closed > p {
  color: red;
}

.tag-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.tag-outline {
  border: 1px solid black;
  padding: 2px 20px;
  border-radius: 15px;
}

.map {
  width: 100%;
  height: 400px;
  margin: 50px 0;
}

.near-models {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
