.about-banner-image {
  background-image: url("/src/assets/mountain-range.png");
  background-size: cover;
  background-attachment: fixed;
}

.about-splash-title {
  width: 50%;
  text-align: center;
  color: black;
}

.description {
  text-align: justify;
}

.section-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.card-col {
  max-width: 350px;
}
